<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Bienvenido a la API de la Aplicación</h1>
    <a class="button" href="/add_person">Agregar Persona</a>
    <a class="button" href="/get_people">Ver Personas</a>
    <a class="button" href="/delete_person">Borrar Persona</a>
</body>
</html>
