<!DOCTYPE html>
<html>
<head>
    <title>Éxito</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    {% if action == 'added' %}
        <h1>Accion correcta</h1>
    {% elif action == 'error' %}
        <h1>{{ message }}</h1>
    {% endif %}
    <a class="button" href="/">Volver a la página principal</a>
</body>
</html>
